<div class="container">
    <h1>{{title}}</h1>
    <form action="/" method="post">
        <input name="city" type="text" class="w-input" placeholder="Enter a City" required="">
        <input type="submit" class="w-button" value="Get Weather">
    </form>

    <h1>{{message}}</h1>
</div>